In [1]:
import math
import unittest

In [8]:
def exercise01():
    x = 5
    return x
exercise01()

5

In [16]:
def exercise02():
    name = "suruo"
    return name
exercise02()

'suruo'

In [19]:
def exercise03():
    sentence = "Nothing is possible."
    return sentence
exercise03()

'Nothing is possible.'

In [22]:
def exercise04():
    first_name = "Suruo"  
    last_name = "Wang"
    return first_name,last_name
exercise04()

('Suruo', 'Wang')

In [24]:
def exercise05():
    first_name = "Suruo"  
    last_name = "Wang"
    name_type = type(first_name)
    return first_name,last_name,name_type
exercise05()

('Suruo', 'Wang', str)

In [25]:
def exercise06():
    hours_worked = 20
    wage_per_hour = 15
    total_pay = hours_worked * wage_per_hour
    return hours_worked,wage_per_hour,total_pay
exercise06()

(20, 15, 300)

In [26]:
def exercise07():
    wage = 17
    second = 2 * wage
    return type(wage),second
exercise07()

(int, 34)

In [27]:
def exercise08():
    quantity= 5
    hello = "hello"
    hello_repoeated = quantity * hello
    return quantity,hello,hello_repoeated
exercise08()

(5, 'hello', 'hellohellohellohellohello')

In [28]:
def exercise09():
    qty = 10
    price = 5
    total_cost = qty * price
    return qty,price,total_cost
exercise09()

(10, 5, 50)

In [29]:
def exercise10():
    factor1 = 1
    factor2 = 2
    factor3 = 3
    factor4 = 4
    factor5 = 5
    product = factor1 * factor2 * factor3 * factor4 * factor5
    return factor1,factor2,factor3,factor4,factor5,product
exercise10()

(1, 2, 3, 4, 5, 120)

In [31]:
def exercise11():
    pi = round(math.pi,10)
    return pi
exercise11()

3.1415926536

In [40]:
def exercise12():
    x = 10
    y = x ** 7
    return x,y
exercise12()

(10, 10000000)

In [34]:
def exercise13():
    r = 7
    pi = 3.14159
    volume_sphere = 4/3*pi*r**3
    return r,pi,volume_sphere
exercise13()

(7, 3.14159, 1436.7538266666666)

In [36]:
def exercise14():
    length = 50
    height = 10.2
    area = length * height 
    area_type = type(area)
    return length,height,area,area_type
exercise14()

(50, 10.2, 509.99999999999994, float)

In [37]:
def exercise15():
    speed_mph = 80
    duration = 3
    distance = speed_mph * duration
    return distance,duration,speed_mph
exercise15()

(240, 3, 80)

In [39]:
def exercise16():
    a = 3
    b = 4
    c = math.sqrt(a**2+b**2)
    return a,b,c
exercise16()

(3, 4, 5.0)